body{
	padding-top: 10px;
}

		body{
			background: url(../img/dragon_scales_2250.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

.login{
	background-color: #fff;
	margin-top:20px;
	border:solid #ccc 1px;
	border-radius: 5px;
}
.msg-box{
	margin-top: 20px;
}

.msg-form{
	padding: 10px;
}

.navbar{
	background-color: blue;
}

@media (max-width:666px) {

	.textart{
		display: none;
	}

}

@media (min-width:765px) {
	.homecontainerinside{
		padding: 20px;
	}
}

@media (max-width:766px) {
	.homecontainerinside{
		padding: 10px;
	}
}

.homecontainer{
	padding-top: 20px;
	margin: auto;
}

.userlistmodal{
	border: none; 
	background-color: transparent;
}